
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}| SSM{% endblock %}</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }

        img {
            width : 100px;
            height : 100px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Sistem Sortir Melon</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2023 Agrysy</p>
    </footer>
</body>
</html>
