
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}| SSM{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="header">
                <div class="list-item">
                    <a href="#">
                        <h1 class="description-header">Sistem Sortir Melon</h1>
                    </a>
                </div>

                <div class="illustration">
                    <img src="{% static "assets/agrysys.png" %}" width="130px" height="130px">
                </div>
            </div>
            <div class="main">
                <div class="list-item">
                    <a href="{% url "ssm:dashboard" %}">
                        <img src="{% static "assets/menu (2).png" %}" width="30px" height="30px" class="icon">
                        <span class="description">Dashboard</span>
                    </a>
                </div>
            </div>
            <div class="main">
                <div class="list-item">
                    <a href="{% url "ssm:data.melon" %}">
                        <img src="{% static "assets/list.png" %}" width="30px" height="30px" class="icon">
                        <span class="description">Details</span>
                    </a>
                </div>
            </div>
        </div>

        <div >
            
        </div>
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% comment %} <footer>
        <p>© 2023 Agrysy</p>
    </footer> {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static "chart.js" %}"></script>
</body>
</html>
