{% extends 'base.html' %}
{% block title %}melons{% endblock title %}
{% block content %}

  <h2>Melons</h2>
  <p class="table-melon-title">Rincian Data Melon yang Masuk</p>
  <table>
    <tr>
        <th>kode melon</th>
        <th>citra melon</th>
        <th>citra melon edge</th>
        <th>kelas</th>
        <th>tanggal</th>
        {% comment %} <th>aksi</th> {% endcomment %}
    </tr>
    {% load static %}
    {% for melon in melons %}
    <tr>
        <td>{{melon.kode_melon}}</td>
        <td><img src="{{melon.image.url}}" alt="{{melon.image.url}}"></td>
        <td>
          {% if melon.edge %}
            <img src="{{ melon.edge.url }}">
          {% else %}
            <p>No file associated with this object.</p>
          {% endif %}
        </td>
        <td>{{melon.object_class}}</td>
        <td>{{melon.pub_date}}</td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}
